.receiptHorizEntryComp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 1.5rem;
  font-size: 0.8rem;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.innerTextContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 20rem;
  margin-right: 2rem;
  /* background-color: orange; */
}

.productNameContainer {
  display: flex;
  height: 100%;
  align-items: center;
  width: 10rem;
}
